body {
  background-color: #f5e9cf;
  transition: 0.4s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

h1 {
  color: #4d455d;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #7db9b6;
  transition: 0.4s;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.input-container input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 70%;
  font-size: 16px;
}
.input-container input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input::placeholder {
  color: grey;
  font-size: 16px;
}

.taskStatus {
  height: 50px;
  width: 110px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  border-right: 6px solid transparent;
}
.taskStatus:focus {
  outline: none;
}
.taskStatus:active {
  outline: none;
}

.statusMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-container button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #e96479;
  color: #f5e9cf;
  font-weight: 600;
  cursor: pointer;
}

.input-container button:hover {
  opacity: 0.9;
}
.input-container button:active {
  transform: translateY(2px);
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.task-card {
  background-color: #4d455d;
  transition: 0.4s;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: min-content;
  gap: 15px;
}

.task-card h2 {
  text-align: center;
  color: #f5e9cf;
  margin: 0 auto;
}

.task-card p {
  color: #f5e9cf;
  margin: 0 auto;
}

.task-card button {
  padding: 6px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #f5e9cf;
  font-size: 16px;
  cursor: pointer;
}

.task-card button:first-child {
  margin-right: 10px;
}

.editBtn:hover {
  opacity: 0.8;
}

.deleteBtn:hover {
  opacity: 0.8;
}

.clear-tasks {
  background-color: rgba(74, 68, 86, 0.354);
  transition: 0.4s;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.clear-tasks h3 {
  margin-left: 10px;
  color: #fff;
}

.clear-tasks button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e96479;
  color: #f5e9cf;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.clear-tasks button:hover {
  opacity: 0.9;
}
.clear-tasks button:active {
  transform: translateY(2px);
}
.clearBtns {
  display: flex;
  flex-direction: row;
}

.tasks-filter {
  transition: 0.4s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  margin: 15px auto;
}

.tasks-filter button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(74, 68, 86, 0.354);
  opacity: 0.4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}

/* Dark Mode Toggle */

.toggle {
  margin: 30px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 38px;
  height: 12px;
  background-color: #2828287a;
  transition: 0.4s;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  width: 18px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #e4cc52;
}

.fa-sun {
  color: yellow;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgb(134, 134, 134);
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(166, 166, 166);
}

@media screen and (max-width: 768px) {
  .tasks-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .task-card {
    height: min-content;
  }

  .task-card p {
    font-size: 14px;
  }
  .tasks-filter button {
    height: 60px;
  }
}
